### Part 2
1. StringIO
2. Panda's read_csv

In [1]:
### Reading differen data sources with the help of pandas
from io import StringIO
import pandas as pd

In [4]:
df=pd.read_csv('mercedesbenz.csv') # In memory conversion is done by stringIO automatically when we use **read_csv**
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [6]:
type(df)

pandas.core.frame.DataFrame

In [9]:
data=(
    'c1,c2,c3\n'
    'a,b,1\n'
    'c,d,2\n'
    'e,f,3'
)
type(data)

str

In [13]:
StringIO(data) # **In Memory File Format** conversion of data

In [15]:
pd.read_csv(StringIO(data)) # Shift+TAB For funuction Signature

  c1 c2  c3
0  a  b   1
1  c  d   2
2  e  f   3

In [20]:
pd.read_csv(StringIO(data),usecols=['c1','c3'])

  c1  c3
0  a   1
1  c   2
2  e   3

In [25]:
df=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5'])
df.head()

  X1  X2 X3 X4 X5
0  v  at  a  d  u
1  t  av  e  d  y
2  w   n  c  d  x
3  t   n  f  d  x
4  v   n  f  d  h

In [27]:
df.to_csv('DataToCSV.csv')

In [29]:
df.to_csv('DataToCSVWithoutIndex.csv',index=False)

In [31]:
data=(
    'c1,c2,c3\n'
    'a,b,1\n'
    'c,d,2\n'
    'e,'
)
df=pd.read_csv(StringIO(data))
df

  c1   c2   c3
0  a    b  1.0
1  c    d  2.0
2  e  NaN  NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      3 non-null      object
 1   c2      2 non-null      object
 2   c3      2 non-null      float64
dtypes: float64(1), object(2)
memory usage: 200.0+ bytes

In [33]:
df.isnull().sum()

c1    0
c2    1
c3    1
dtype: int64

In [36]:
df['c1'][0]

'a'

In [38]:
df=pd.read_csv(StringIO(data),dtype='object')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      3 non-null      object
 1   c2      2 non-null      object
 2   c3      2 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [43]:
df=pd.read_csv(StringIO(data),dtype={'a':str,'b':float,'c':int})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      3 non-null      object
 1   c2      2 non-null      object
 2   c3      2 non-null      float64
dtypes: float64(1), object(2)
memory usage: 200.0+ bytes

In [41]:
df

  c1   c2   c3
0  a    b  1.0
1  c    d  2.0
2  e  NaN  NaN

In [44]:
df.dtypes

c1     object
c2     object
c3    float64
dtype: object

In [52]:
data=(
    'Index,c1,c2,c3\n'
    '1,a,b,1\n'
    '2,c,d,2\n'
    '3,e,f,3'
)
df=pd.read_csv(StringIO(data),index_col=0)
df

      c1 c2  c3
Index
1      a  b   1
2      c  d   2
3      e  f   3

In [55]:
data=(
    'c1,c2,c3\n'
    'a,b,1\n'
    'c,d,2\n'
    'e,f,3'
)
df=pd.read_csv(StringIO(data),usecols=['c1','c2','c3'],index_col=0)
df

   c2  c3
c1
a   b   1
c   d   2
e   f   3