### 01 Pandas Basics

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("E:\\DATASCIENCE\\01Introduction\\02nyc_weather.csv")

In [ ]:
df

In [ ]:
df['Temperature']

In [ ]:
df['Temperature'].max()

In [ ]:
df['Temperature'].min()

In [ ]:
# Condition
df['EST'][df['Events']=='Rain']

In [ ]:
df['WindSpeedMPH'].mean()

In [ ]:
df

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
df

### 02 Dataframe Basics
   1. Creating Dataframes
   1. Dealing with rows and columns
   1. Operations: min, max, std, describe
   1. Condition Selection
   1. set_index

In [34]:
import pandas as pd
df=pd.read_csv("02weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [41]:
# Also using pandas we can create like this
weatherData = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
test_df=pd.DataFrame(weatherData)
test_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [50]:
rows,columns=test_df.shape
# rows
columns

4

In [56]:
df.head() 
# In case of huge data set we print some of 
# the data instead of the full data as it's 
# large so there we use head() to retrive 
# the first few columns

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [59]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [62]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [64]:
df[2:] # Slicing

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [66]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [69]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [73]:
df.event # df["event"]

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [78]:
df[["event","day"]]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [81]:
# Conditions
df.temperature.max() # df["temperature"].max()

35

35