### 01 Basics

In [ ]:
print("Hello")
print("Hello",end=" ")
print("world")
print('Hello',end='_')
print('world')

In [ ]:
# a=input()
# print(type(a))
# b=int(input())
# print(type(b))

In [ ]:
var1= "Hello"
var2= " Anirban"
var3= 10
var4= 10.10
var5= "10"
var6= "20"

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

print(var1+var2)
print(var3+var4)
print(var5+var6)

#Typecasting
print(int(var5)+int(var6))

### 02 Basic Functions

In [ ]:
name="anirban is my name"
print(name.capitalize())
print(name.find("a")) # Position
print(name.endswith("Name"))
print(name.endswith("name"))
print(name.find("my"))
print(name.count("a"))

In [ ]:
try:
    print(nameA.isalnum())
except Exception as e:
    print("As Space is a Special Character so getting this error")
    
name="anirbanismyname"
print(name.isalnum(),name.isalpha())

name="anirbanismyname12"
print(name.isalnum())

a=1920313
print(name.isalpha())

In [ ]:
name="Anirban is my name"
print(name.replace("my","only my"))

In [ ]:
print(name.lower())
print(name.upper())

### 03 String

In [ ]:
print("First Name:\tAnirban\nLast Name:\tMishra") # Escape Sequence

#### Slicing

In [ ]:
name="Anirban is my name"
print("Length of the string is: ",len(name))

# len() THis is used to get the length of the string

print(name[0:7])
# array indexing starts from 0
# here 0 is including and 7 is excluding that means if we give 6 here it will not take
# 0 is the starting point

# Advance:
print(name[0:7:2])
# print you will understand

print(name[0:7:3])
print(name[::4]) #By default it's start with 0
print(name[0::2])
print(name[-4:])
print(name[2:7])

# TO MAKE A STRING IN REVERSE ORDER:

print(name[::-1 ])

In [ ]:
a=10
print(type(a))
print(type(str(a)))
name = "Anirban"
print(type(name))

In [167]:
story="I'm Anirban Mishra from cse department"
print("The length of the string is -> ",len(story))
print("(True/False) Answer is --> ",story.endswith("ment"))
print("(True/False) Answer is --> ",story.endswith("men"))
print("Counting a: There are",story.count("a"),"a in the string")
print("Finding the starting of the 'from' word: ",story.find("from"))
print("Chaning 'cse': ",story.replace("cse","Computer Science and Engineering"))
story1="anirban"
print("Capitalize : ",story1.capitalize())

The length of the string is ->  38
(True/False) Answer is -->  True
(True/False) Answer is -->  False
Counting a: There are 3 a in the string
Finding the starting of the 'from' word:  19
Chaning 'cse':  I'm Anirban Mishra from Computer Science and Engineering department
Capitalize :  Anirban

#### Methods of String

In [169]:
s = "Anirban"
print(s[::-1])

# Strip
s1 = "    ANIRBAN        "
print(s1.strip())
print(s1.lstrip())
print(s1.rstrip())

s2 = "ANIRBAN.com"
print(s2.strip('N.com'))

s3 = "www.google.com"
print(s3.strip('wwwcom.'))

# Replace
s1 = "String Slicing And Other"
print(s1.replace(" ", "-"))
s2 = "String                            Slicing And Other"
print(s2.replace(" ", "-"))

import re
s = "String                            Slicing And Other"
print(re.sub("\s", "-", s))
print(re.sub("\s+", "-", s))

# split()
s1 = "String Slicing And Other, String Slicing And Other"
print(s1.split())
print(s1.split(maxsplit=1))
print(s1.rsplit(maxsplit=1))
print(s1.split("A"))
print(s1.split(","))

# join()
s1 = ['String', 'Slicing', 'And', 'Other,',
      'String', 'Slicing', 'And', 'Other']
print('-'.join(s1))
print(' '.join(s1))

# Commons
s1 = "String Slicing And Other, String Slicing And Other"
print(s1.upper())
print(s1.lower())
print(s1.capitalize())
print(s1.endswith("er"))

s2="ANIRBAN"
print(s2.islower())
print(s2.isupper())

s3="PYTHON"
print(s3.isalpha())
print(s3.isnumeric())
print(s3.isalnum())

s4="#@#asdasdad%53"
print(s4.isalnum())

s1="ANIRBAN"
print(s1.count('A'))

nabrinA
ANIRBAN
ANIRBAN
    ANIRBAN
ANIRBA
google
String-Slicing-And-Other
String----------------------------Slicing-And-Other
String----------------------------Slicing-And-Other
String-Slicing-And-Other
['String', 'Slicing', 'And', 'Other,', 'String', 'Slicing', 'And', 'Other']
['String', 'Slicing And Other, String Slicing And Other']
['String Slicing And Other, String Slicing And', 'Other']
['String Slicing ', 'nd Other, String Slicing ', 'nd Other']
['String Slicing And Other', ' String Slicing And Other']
String-Slicing-And-Other,-String-Slicing-And-Other
String Slicing And Other, String Slicing And Other
STRING SLICING AND OTHER, STRING SLICING AND OTHER
string slicing and other, string slicing and other
String slicing and other, string slicing and other
True
False
True
True
False
True
False
2

### 04 List & Tuples

### List

In [ ]:
list=[1,2,3,4,5,6]
print("Initial list is: ",list)
print("List 1 is: ",list[1])
print("Before changing the list[5] is: ",list[5])
list[5]=7
print("After changing the list[5] is: ",list[5])
print("Now list is: ",list)

list1=["Anirban","got",100,"marks"]
# this is also a valid list varities types of data types is possible
print(list1)

#### Methods

In [ ]:
#Sorting
list1=[234,346,87,436,87,2,42,576,0,46,987]
list1.sort()
print("Sorted list: ",list1)

In [ ]:
# Reverse
list2=[123,45,56,89,43,7676,3,57,0]
list2.reverse()
print("Reversed list before soritng: ",list2)
list2.sort()
print("Now sorted list: ",list2)
list2.reverse()
print("Reversed list after soritng: ",list2)

In [ ]:
# Append
list3=[213,45,4567,78,32,678]
list3.append(21)
print("Append 21...at the end: ",list3)

In [ ]:
# Insert
list4=[1,2,3,4,5,6]
list4.insert(3,8)
print("After the particular index like here after index 3, 8 will be added: ",list4)

In [ ]:
# Pop
list5=[12,3,445,6,7,8,967,7]
list5.pop(4)
print("Here at this list pop 4 means after index 4 will be deleted: ",list5)

In [ ]:
# Remove
list6=[234,45,56,678,870]
list6.remove(234)
print("Particular mentioned will be deleted here: ",list6)

In [ ]:
# Extend
list7=[21,312,435,456,678987,87]
list7.extend([123,324,43,65])
print(list7)

#### Slicing

In [ ]:
list=["anirban","mishra","suchorita","das","sourin","ghosh",2002,2001,2001]
print(list[0:5])
print(list[-6:-2])

### Tuple

In [ ]:
tuple=(1,2,3,4,5)
print(tuple[4])
print(tuple)
print(type(tuple))

# Tuple can't be changed or updated
# tuple[3]=10
# print(tuple[3])
# This will throw error

t1=()
print(t1) # Empty Tuple
# t2=(2) # This is a wrong way, there must be a comma
t2=(2,)
print(t2)

In [ ]:
tuple=(12,35,47,678,89,43,56,12,12,12)
print("Count 12: ",tuple.count(12))
# It shows that particular element that how many times it's present in the tuple

print("Searching the Index number: ",tuple.index(12))
# It do search of the particular element

### 05 Dictionary

In [4]:
d = {}
print(type(d))

<class 'dict'>

In [5]:
d={
    "Anirban":"Meat",
    "Sucho":"Pizza",
    "Subhangi":"Fuchka"
}

print(d)
print(d["Anirban"],d["Sucho"],d["Subhangi"])

d["Arka"]= "Biriyani"
print(d)

d["Ankit"]= "Roll"
print(d)

{'Anirban': 'Meat', 'Sucho': 'Pizza', 'Subhangi': 'Fuchka'}
Meat Pizza Fuchka
{'Anirban': 'Meat', 'Sucho': 'Pizza', 'Subhangi': 'Fuchka', 'Arka': 'Biriyani'}
{'Anirban': 'Meat', 'Sucho': 'Pizza', 'Subhangi': 'Fuchka', 'Arka': 'Biriyani', 'Ankit': 'Roll'}

In [6]:
d1=d.copy()
print('Copied Dictionary -> ',d1)

Copied Dictionary ->  {'Anirban': 'Meat', 'Sucho': 'Pizza', 'Subhangi': 'Fuchka', 'Arka': 'Biriyani', 'Ankit': 'Roll'}

In [12]:
del d1["Anirban"]
print(d1)

In [14]:
# Dictionary in Dictionary
d2={
    "Anirban":"Meat",
    "Sucho":{
        "Breakfast": "Bread",
        "Lunch": "Rice"
    }
}

print(d2)
print(d2["Anirban"])
print(d2["Sucho"]["Lunch"])

{'Anirban': 'Meat', 'Sucho': {'Breakfast': 'Bread', 'Lunch': 'Rice'}}
Meat
Rice

In [19]:
print("GET FUNCTION")
d2={"Anirban":"Meat","Sucho":"Pizza","Subhangi":"Fuchka"}
print(d2.get("Anirban"))
# get function give the value of that particular we've mentioned

GET FUNCTION
Meat

In [20]:
print(d2)
print("UPDATE FUNCTION")
d2.update({"Ram":"Sugar"})
print(d2)

{'Anirban': 'Meat', 'Sucho': 'Pizza', 'Subhangi': 'Fuchka'}
UPDATE FUNCTION
{'Anirban': 'Meat', 'Sucho': 'Pizza', 'Subhangi': 'Fuchka', 'Ram': 'Sugar'}

In [29]:
print("Keys & Values FUNCTION")
print(d2.keys())
print(d2.values())

Keys & Values FUNCTION
dict_keys(['Anirban', 'Sucho', 'Subhangi', 'Ram'])
dict_values(['Meat', 'Pizza', 'Fuchka', 'Sugar'])

In [31]:
print("Items FUNCTION")
print(d2.items())
# items function print both pairs

Items FUNCTION
dict_items([('Anirban', 'Meat'), ('Sucho', 'Pizza'), ('Subhangi', 'Fuchka'), ('Ram', 'Sugar')])

### 06 Set

In [57]:
s={1,2,3,4,5,6}
print(s,type(s))
s.add(1)
s.add(10)
s.add(10)
print(s)

{1, 2, 3, 4, 5, 6} <class 'set'>
{1, 2, 3, 4, 5, 6, 10}

In [58]:
s1= s.union({100,200,300,400})
print(s1)

{1, 2, 3, 4, 5, 6, 100, 200, 10, 300, 400}

In [68]:
s3={"5,6,7,8"}
print(s1)
print(s1.isdisjoint(s2))

{1, 2, 3, 4, 5, 6, 100, 200, 10, 300, 400}
False

In [69]:
s2=s1.intersection({1,2,3,4})
print(s1)

{1, 2, 3, 4, 5, 6, 100, 200, 10, 300, 400}

In [70]:
list=[1,2,3,4,5]
print(set[1,2,3,4])
print(set(list))

set[1, 2, 3, 4]
{1, 2, 3, 4, 5}

### 07 Conditionals

In [72]:
a=100
# This is totally a if_elif_else ladder
if (a>50):
    print("Greater than 50")
elif (a>76):
    print("Greater than 76")
elif (a>89):
    print("Greater than 89")
else:
    print("Not Greater")

Greater than 50

In [74]:
a=9
if a>5 :
    print("True 1")
if a>10 :
    print("Will not be printed")
if a>=3 :
    print("True 3")
    
# Now this is a Ladder
if a>10 :
    print("False")
else:
    print("True")

True 1
True 3
True

In [76]:
list=[10,45,32]
a= None
if(a is None):
    print(a)
else:
    print(False)

print("10 is in List",10 in list)
print("100 is not in List",100 in list)

None
10 is in List True
100 is not in List False

### 08 Loops

In [96]:
i=0
while i<10:
    print(f"{i}")
    i+=1

0
1
2
3
4
5
6
7
8
9

In [101]:
list=["ANIRBAN","SUCHORITA","SOURIN","RITESH","ARKA","JOYDEEP"]
for item in list:
    print(item)

ANIRBAN
SUCHORITA
SOURIN
RITESH
ARKA
JOYDEEP

In [104]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [105]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [108]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [111]:
# for else
for i in range(10):
    print(i)
else:
    print("Loops end!!")

0
1
2
3
4
5
6
7
8
9
Loops end!!

In [114]:
for i in range(10):
    print(i)
    if i==5:
        print("Loop is not going to successfully terminated or not goint to the last\nand also else in for will not be execcuted")
        break
else:
    print("Loops end!!")

0
1
2
3
4
5
Loop is not going to successfully terminated or not goint to the last
and also else in for will not be execcuted

In [119]:
for i in range(10):
    if i==5:
        continue
    print(i)
else:
    print("Loops end!!")

0
1
2
3
4
6
7
8
9
Loops end!!

In [120]:
i=4
for i in range(10):
    pass
if i>0:
    pass
print("Pass statement Understood")

Pass statement Understood

### 09 Functions

In [133]:
def sum_(a: ...):
    ans=0
    for ele in a:
        ans+=ele
    return ans

a=[2,2,2,2,2]
print(sum_(a))

10

In [158]:
def factorial(a):
    fac=1
    for i in range(1,a+1):
        fac=fac*i
    return fac

print(factorial(5))

120

In [165]:
def factorial_Recursion(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial_Recursion(n-1)
print(factorial_Recursion(5))

120

In [163]:
def m9():
    print("Good Morning")
    nn()
def nn():
    print("Good Afternoon")
    n8()
def n8():
    print("Good Night")
a=m9()

Good Morning
Good Afternoon
Good Night

In [152]:
def greet(n):
    return "Hello "+n
a="Anirban"
print(greet(a))

Hello Anirban

In [166]:
def greet(name="Stranger"):
    gr="Hello "+name
    return gr

print(greet())

Hello Stranger

In [172]:
def doc_string():
    """Here we'll do a+b then /c
1st sentence in function is called docstring"""
    pass

print(doc_string.__doc__)

Here we'll do a+b then /c
1st sentence in function is called docstring

## ADVANCE PYTHON